* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color:#a594f9;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.main-title {
  font-size: 4rem;
  margin: 2rem 0;
  text-align: center;
}

.player-name {
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 1rem;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #000;
}

.box {
  border: 1px solid #000;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.box, .btn-restart {
  cursor: pointer;
}

.box:hover {
  background-color: #cdc1ff;
}

.button-container {
  margin-top: 3rem;
  text-align: center;
}

.btn-restart {
  width: 200px;
  padding: 1rem 2rem;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 2rem;
  background-color: #7371FC;
  color: #fff;
}